<app-nav-app></app-nav-app>

<div class="negro">
  <div class="container1">
    <mat-icon  color="primary" (click)="volver()"> keyboard_backspace</mat-icon>
  </div>
    <div class="formulario">
      <h4 class="white">Nuevo Paciente</h4>
      
      <div class="row">
        <div class="col-sm-4 white">
         ¿El dueño esta registrado?
        </div>
        <div class="col-sm-4 white">
          <div>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="favoriteSeason">
              <mat-radio-button value="1">SI</mat-radio-button>
              <mat-radio-button value="2">NO</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="col-sm-2" *ngIf="favoriteSeason==2">
          <button mat-raised-button (click)="openDialog()" >Registrar Dueño</button>
        </div>
      </div>
      <div>
        <mat-form-field class="w-100">
          <input matInput [(ngModel)]="dni_duenno" type="number" placeholder="Ingrese DNI del dueño">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-100">
          <input matInput [(ngModel)]="mascnombre" type="text" placeholder="Ingrese nombre de la mascota">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-100">
          <input matInput [(ngModel)]="raza" type="text" placeholder="Ingrese la raza">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-100">
          <input matInput [(ngModel)]="annonac" type="number" placeholder="Ingrese año de nacimiento">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-100">
          <input matInput [(ngModel)]="alergia" type="text" placeholder="Ingrese las alergias">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary">Crear cita</button>
    </div>
</div>
