<app-nav-app></app-nav-app>

<div class="negro">
    <div class="margen5">
        <div class="row">
          <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Generar cita</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../../../assets/img/img1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-actions >
                  <button mat-raised-button color="primary"(click)="redirCita()">ir</button>
                </mat-card-actions>
              </mat-card>
          </div>
          <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Registrar nuevo paciente</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../../../assets/img/img2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-actions>
                  <button mat-raised-button color="primary"(click)="NuevaMasc()">ir</button>
                </mat-card-actions>
              </mat-card>
          </div>
          <div class="col">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Ver citas de hoy</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./../../../assets/img/img3.jpg" alt="Photo of a Shiba Inu">
                <mat-card-actions>                  
                  <button mat-raised-button color="primary" (click)="getCitas()">ir</button>
                </mat-card-actions>
              </mat-card>
          </div>
        </div>
      </div>
</div>

