
    <router-outlet></router-outlet>
   <div class="fondo">
       <div class="formulario">  
           <div class="masoscuro">
               <h3 style="color: white;">Login</h3>
               <br>
                <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>
            <br>
          <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password">
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" (click)="redirec()">Iniciar Sesión</button>
           </div>      
         
       </div>
   </div>